compound_libraries/N1477-1.sdf
compound_libraries/NT0685-2.sdf
development/
development/*
src/__pycache__/
src/__pycache__/*
__pycache__/
__pycache__/*
compound_libraries/Z394273.SDF
compound_libraries/kinaselib.csv
.gitignore
.gitignore
compound_libraries/Selleck Library Product Manual-384well.pdf
compound_subsets/*
compound_libraries/cns_kinase.csv
compound_libraries/L1300-Z394273-100uL_provided_Selleck_maps.xlsx
.gitignore
compound_libraries/N1477-2.sdf
.dockerignore
docker-compose.yml
Dockerfile
.vscode/launch.json
.vscode/tasks.json
